In [ ]:
import pandas as pd
from sklearn.naive_bayes import CategoricalNB
clf=CategoricalNB()
data = pd.read_csv("C:\\Users\\Rahul\\OneDrive\\Desktop\\ExcelR\\SalaryData_Train(1).csv")
data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [ ]:
data_label=data.copy()
data_label

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [ ]:
data_label.iloc[:,-1]=labelencoder.fit_transform(data_label.iloc[:,-1])
data_label.iloc[:,2]=labelencoder.fit_transform(data_label.iloc[:,2])
data_label.iloc[:,1]=labelencoder.fit_transform(data_label.iloc[:,1])
data_label.iloc[:,4]=labelencoder.fit_transform(data_label.iloc[:,4])
data_label.iloc[:,5]=labelencoder.fit_transform(data_label.iloc[:,5])
data_label.iloc[:,6]=labelencoder.fit_transform(data_label.iloc[:,6])
data_label.iloc[:,7]=labelencoder.fit_transform(data_label.iloc[:,7])
data_label.iloc[:,8]=labelencoder.fit_transform(data_label.iloc[:,8])
data_label.iloc[:,12]=labelencoder.fit_transform(data_label.iloc[:,12])

In [ ]:
data_label

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37,0
30157,40,2,11,9,2,6,0,4,1,0,0,40,37,1
30158,58,2,11,9,6,0,4,4,0,0,0,40,37,0
30159,22,2,11,9,4,0,3,4,1,0,0,20,37,0
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37,1

In [ ]:
X=data_label.iloc[:,:-1]
Y=data_label.iloc[:,-1]

In [ ]:
clf.fit(X,Y)

CategoricalNB()

In [ ]:
def split_into_words(i):
    return (i.split(" "))

In [ ]:
from sklearn.model_selection import train_test_split

data_train,data_test = train_test_split(data, test_size=0.3)

In [ ]:
# Preparing Word Count Matrix Format :

from sklearn.feature_extraction.text import CountVectorizer
data_matrix = CountVectorizer(analyzer=split_into_words).fit(data.Salary)
data_matrix

CountVectorizer(analyzer=<function split_into_words at 0x000001953C8218B0>)

In [ ]:
data_matrix_all = data_matrix.transform(data.Salary)
data_matrix_all.shape

(30161, 3)

In [ ]:
train_data_matrix = data_matrix.transform(data_train.Salary)
train_data_matrix.shape

test_data_matrix = data_matrix.transform(data_test.Salary)
test_data_matrix.shape

(9049, 3)

In [ ]:
####### Without TFIDF matrices ########################
# Preparing a naive bayes model on training data set

from sklearn.naive_bayes import MultinomialNB as MB

In [ ]:
import numpy as np

In [ ]:
# Multinomial Naive Bayes :

classifier_mb = MB()
classifier_mb.fit(train_data_matrix,data_train.workclass)

train_pred_m = classifier_mb.predict(train_data_matrix)
accuracy_train_m = np.mean(train_pred_m==data_train.workclass)

test_pred_m = classifier_mb.predict(test_data_matrix)
accuracy_test_m = np.mean(test_pred_m==data_test.workclass)

In [ ]:
print("Accuracy of Train Data : ",accuracy_train_m)
print("Accuracy of Test Data : ",accuracy_test_m)

Accuracy of Train Data :  0.7386320575975749
Accuracy of Test Data :  0.7394187203005858

In [ ]:
####### With TFIDF matrices ########################
# Preparing a naive bayes model on training data set

from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(data_matrix_all)

train_tfidf = tfidf_transformer.transform(train_data_matrix)
print("train_tfidf.shape : ",train_tfidf.shape)

test_tfidf = tfidf_transformer.transform(test_data_matrix)
print("test_tfidf.shape : ",test_tfidf.shape)

train_tfidf.shape :  (21112, 3)
test_tfidf.shape :  (9049, 3)

In [ ]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB

In [ ]:
# Multinomial Naive Bayes :

classifier_mb = MB()
classifier_mb.fit(train_tfidf,data_train.workclass)

train_predict_mb = classifier_mb.predict(train_tfidf)
accuracy_train_mb = np.mean(train_predict_mb == data_train.workclass)

test_predict_mb = classifier_mb.predict(test_tfidf)
accuracy_test_mb = np.mean(test_predict_mb == data_test.workclass)

In [ ]:
print("Accuracy of Train Data : ",accuracy_train_mb)
print("Accuracy of Test Data : ",accuracy_test_mb)

Accuracy of Train Data :  0.7386320575975749
Accuracy of Test Data :  0.7394187203005858

In [ ]:
from sklearn.naive_bayes import GaussianNB as GB

In [ ]:
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(train_tfidf.toarray(),data_train.workclass) # we need to convert tfidf into array format which is compatible for gaussian naive bayes
train_pred_g = classifier_gb.predict(train_tfidf.toarray())
accuracy_train_g = np.mean(train_pred_g==data_train.workclass)
test_pred_g = classifier_gb.predict(test_tfidf.toarray())
accuracy_test_g = np.mean(test_pred_g==data_test.workclass)

# inplace of tfidf we can also use train_data_matrix and test_data_matrix instead of term inverse document frequency matrix

In [ ]:
accuracy_test_g

0.020886285777433972